/* CSS Reset */
* {
	margin: 0;
	padding; 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif; 
}

.container {
	background-color: #eee;
	width: 75%; /*relative to parent's when you use % width*/
	margin: auto; /*can be used only if you have width element*/
	padding: 20px;
}

nav
.footer {
	background-color: #fff 
	height: 10vh; /*10% of visible space of user's device*/
	line-height: 10vh;	
}

.footer {
	border-top: 5px solid #6dccde;
	text-align: center;
}


nav {
	background-color: #fff 
	/*border-bottom; 5px solid #6dccde;
*/	border- border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #6dccde;
	height: 10vh; /*10% of visible space of user's device*/
	line-height: 10vh;
}

nav a {
	text-decoration: none;
}

.nav-item {
	display: inline-block;
	padding: 5px 10px;
}

.active {
	background-color: black;
	color: #6dccde;
	padding: 5px 5px 5px 5px; /*short hand top right bottom left */
	border-radius: 10px
}

.footer *,
h1 {
	font-family: 'Roboto Slab', sans-serif;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#contact-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}